<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wkdgusdn3.soundcontroller">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.wkdgusdn3.service.SoundService" />

        <receiver
            android:name="com.wkdgusdn3.broadcastreceiver.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverMusicPlay">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSoundUp" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSoundDown" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound0" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound1" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound2" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound3" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound4" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound5" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound6" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound7" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound8" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound9" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound10" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound11" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound12" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound13" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound14" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.ReceiverSetSound15" />
    </application>

</manifest>
