<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wkdgusdn3.soundcontroller">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.wkdgusdn3.service.SoundService" />

        <receiver
            android:name="com.wkdgusdn3.broadcastreceiver.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.MusicPlayReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.VolumeUpReceiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.VolumeDownReceiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo0Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo1Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo2Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo3Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo4Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo5Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo6Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo7Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo8Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo9Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo10Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo11Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo12Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo13Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo14Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.SetVolumeTo15Receiver" />
        <receiver android:name="com.wkdgusdn3.broadcastreceiver.VolumeChangeReceiver" >
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
